.ng-cloak(ng-init="init()")

  div.panel.panel-info.monument-group
    div.panel-heading     
      editablespan(model="group.name" on-ready="groupNameEdited(group.name)" input-class="form-control" span-class="group-name")